* text=auto
*.json text eol=lf
*.js text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.rs text eol=lf
*.qasm text eol=lf
*.txt text eol=lf
*.toml text eol=lf
.gitignore text eol=lf
.cargo/config.toml text eol=lf
*.yml text eol=lf
Cargo.lock text eol=lf
